@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
 Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";


}


  <form class="p-4 m-4 col-3" id="log-in-view">
      <h5 class="mb-2"> LOGIN</h5>
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email *</label>
    <input asp-for="Input.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <span asp-validation-for="Input.Email" class="text-danger"></span>

  </div>
  <div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Password *</label>
    <input asp-for="Input.Password" class="form-control" id="exampleInputPassword1">
     <span asp-validation-for="Input.Password" class="text-danger"></span>

  </div>
  <button type="submit" class="btn mb-4">LOG IN</button>
  <div class="mb-5 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" asp-for="Input.RememberMe">Remember me</label>
    <a href="" class="lost-your" >Lost your password?</a>
  </div>
  <span class="d-flex mb-4">
      <img class="m-3" src="~/images/MyAccount/Line-111.svg" alt"" />
      <h5>  Or login with  </h5>
     <img class="m-3" src="~/images/MyAccount/Line-111.svg" alt"" />  </span>

     <spn class="d-flex">
         <a href="https://sv-se.facebook.com/"> <img class="m-1" src="~/images/MyAccount/Facebook-logo.svg" alt"" /></a>
         <a href="https://www.google.se/"> <img class="m-1" src="~/images/MyAccount/Google login.svg" alt"" /></a>

     </spn>


</form>

@section Scripts {
    
    <partial name="_ValidationScriptsPartial" />
}
