@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
 Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}



  <form class="p-4 m-4 col-3" asp-route-returnUrl="@Model.ReturnUrl" id="register-form">
      <h5 class="mb-3"> Register</h5>
      <div class="mb-3" >Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</div>
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address * </label>
    <input asp-for="Input.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <span asp-validation-for="Input.Email" class="text-danger"></span>

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password *</label>
    <input asp-for="Input.Password" class="form-control" id="exampleInputPassword1">
    <span asp-validation-for="Input.Password" class="text-danger"></span>

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password *</label>
    <input asp-for="Input.ConfirmPassword" class="form-control" id="exampleInputPassword1">
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

  </div>
    <div class="mb-5">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <spn class="policy">privacy policy.</spn></div>
  
  <button type="submit" class="btn mb-4">REGISTER</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
