@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="sale-banner">
    <div class="background-image">
        <div class="banner-flex">
            <div class="green-sale">
                <div id="discount">
                    <h1 class="30text">30%</h1>
                    <h2 class="OFFtext">OFF</h2>
                </div>
                <h3>FOR NEW CUSTOMER</h3>
                <button class="button-black">SHOP NOW</button> 
            </div>

            <div class="right-side">
                <h1>Donec pulvinar arcu vitae ipsum varius cursus. Nunc iaculis fermentum <br> iaculis. Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat. <br> Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam <br> pretium iaculis ultrices.</h1>  
                <button class="button-green">LEARN MORE</button>     
            </div>
        </div>   
    </div>

</div>
