<div id="error-section">
    <div id="error-container">
        <img src="~/images/404Page/404.png" alt="">
        <p>Oops! The page you are looking for doesn´t exist.</p>
        <div id="error-buttons-container">
            <button id="home-btn">HOME</button>
            <button id="contact-btn">CONTACT US</button>
        </div>
    </div>
</div>