<div id="logos-section">
    <div id="logos-container">
        <img src="~/images/Company-Logos/1_Bexim.png" alt="">
        <img src="~/images/Company-Logos/2_Lighton.png" alt="">
        <img src="~/images/Company-Logos/3_Dismis.png" alt="">
        <img src="~/images/Company-Logos/4_Rosimo.png" alt="">
        <img src="~/images/Company-Logos/5_Dallas.png" alt="">

    </div>
</div>