@using Kentaka_Webshop.Models.CategoryModels
@model ContactDataModel

<div id="contact-section">
    <div id="contact-map">
        <img id="img-map" src="images/Contact-Us/Contact-GoogleMaps.png" alt="">
        <img id="img-pin" src="images/Contact-Us/Contact-MapPin.png" alt="">
    </div>
    <div id="contact-container">
        <div id="contact-upper">
            <div id="contact-address">
                <i class="fa-solid fa-location-dot"></i>
                <div id="contact-address-text">
                    <p>252, Chagalnaiya</p>
                    <p>Feni-2500, Bangladesh</p>
                </div>
            </div>
            <div id="contact-phone">
                <i class="fa-solid fa-phone"></i>
                <div id="contact-phone-text">
                    <p>+880-123456789</p>
                    <p>+880-123456789</p>
                </div>

            </div>
            <div id="contact-email">
                <i class="fa-solid fa-envelope"></i>
                <div id="contact-email-text">
                    <p>vanilla@website.com</p>
                    <p>info@website.com</p>
                </div>

            </div>
        </div>

        <div id="contact-lower">

            <div id="contact-lower-left">
                <h3>Get in Touch</h3>
                <p>We have world-class, flexible support via live chat, email and phone. we guarantee that you’ll be able to have any issue resolved within 24 hours. You can contact support immediately here.</p>
                <div id="follow-us-container">
                    <p class="p-bold">Follow us</p>
                    <hr>
                </div>
                <div id="social-links">
                    <a href=""><i class="fa-brands fa-facebook-f green-text"></i></a>
                    <a href=""><i class="fa-brands fa-instagram green-text"></i></a>
                    <a href=""><i class="fa-brands fa-twitter green-text"></i></a>
                    <a href=""><i class="fa-brands fa-youtube green-text"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest-p green-text"></i></a>


                </div>
            </div>

            <div id="contact-lower-right">

                <div id="contact-form">
                    <form asp-action="Index">
                        <div class="form-row">
                            <div class="col-md-12">

                                <select asp-for="Form.CategoryName" class="form-control" placeholder="3">
                                    <option selected="selected" disabled> Product Category</option>
                                    @foreach (var c in Model.Categories)
                                    {
                                        <option>@c.CategoryName</option>
                                    }
                                </select>
                                <span class="error-text" asp-validation-for="Form.CategoryName"></span>
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Form.UserName" class="form-control mt-2" type="text" placeholder="Name">
                                <span class="error-text mb-2" asp-validation-for="Form.UserName"></span>
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Form.UserEmail" class="form-control mt-2" type="email" placeholder="Email">
                                <span class="error-text mb-2" asp-validation-for="Form.UserEmail"></span>
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Form.Subject" class="form-control mt-2" type="text" placeholder="Subject">
                                <span class="error-text mb-2" asp-validation-for="Form.Subject"></span>
                            </div>

                            <div>
                                <textarea asp-for="Form.UserMessage" class="mt-2" id="contact-us-message" cols="60" rows="8" placeholder="Message"></textarea>
                                <span class="error-text mb-2" asp-validation-for="Form.UserMessage"></span>
                            </div>




                            <div><span class="white-text">@Model.Result.Message</span></div>
                            

                            <button class="mt-2" id="form-submit-btn">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>