@using Kentaka_Webshop.Models.CategoryModels
@using Kentaka_Webshop.Models.ContactMessageModels
@model ContactMessageForm




<div class="col-md-12">
    <input asp-for="UserName" class="form-control mb-2" type="text" placeholder="Name">
    <span asp-validation-for="UserName"></span>
</div>
<div class="col-md-12">
    <input class="form-control mb-2" type="email" placeholder="Email">
</div>
<div class="col-md-12">
    <input class="form-control mb-2" type="text" placeholder="Subject">
</div>

<textarea class="mb-4" name="contact-message" id="contact-us-message" cols="60" rows="8" placeholder="Message"></textarea>




