<section id="gridd">
  <div class="column">
        <dev class="content">
            <div class="grido">
       <img class="gridd-image" src="~/images/grid-design/grid-pic.svg" alt""/>

            </div>
       <img class="gridd-1-image" src="~/images/Path 44.svg" alt""/>
       <h5 class="we-always">We always try to give you the best product within a fast and reliable way</h5>
              <img class="gridd-image1" src="~/images/grid-design/grid-blid.svg" alt""/>
       
         
    </dev>
  </div>
</section>
