@{
    ViewData["Title"] = ViewBag.Title;
}


<div id="dynamic-header-section">
    <div id="dynamic-header-container">
        <div id="header-left">
            <h3>Contact</h3>
        </div>
        <div id="header-right">
            <a href="">Home</a>
            <span> / </span>
            <a href="">@ViewData["Title"]</a>
        </div>
    </div>
</div>