@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="product-sections">
    <img src="/images/FeaturedProducts/featured-products-img.png" class="header-img">
    <div class="product-container">

        <div class="product-card">
            <img class="pre-btn" src="/images/FeaturedProducts/Featured-Prev-btn.png" alt="">
            <img class="nxt-btn" src="/images/FeaturedProducts/Featured-Next-btn.png" alt="">

            <div class="all-products">
                <div class="product-image1">
                    <img src="images/FeaturedProducts/woman-featured-products.png" class="product-thumb"
                         alt="">
                </div>

                <div class="product-image2">
                    <img src="/images/FeaturedProducts/second-black-img.png" class="product-thumb"
                         alt="">
                </div>

                <div class="product-image3">
                    <img src="/images/FeaturedProducts/hoodie-products-img.png" class="product-thumb"
                         alt="">
                </div>
            </div>
            <img src="/images/FeaturedProducts/three-dots.img.png" class="three-dots">

        </div>
        </>
</section>