
 <section id ="falsh-sale" class="col-12" >
        <div class="column">
            <div class="content">
                 <img class="flash-image" src="~/images/flash-sale/Group1.svg" alt""/>
            </div>
            flash-sale/
        </div>
        <div class="column" id ="multe-pic">
            <div class="content">
                <img class="flash-image" src="~/images/flash-sale/Group2.svg" alt""/>
            </div>

        </div>
    </section>