

<section id="footer-design" class="col-12">
    <div class="column">
        <div class="content">
            <img class="flash-image" src="~/images/footer-design/Group1166.svg" alt""/>
            <h5 class="kenak-text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.</h5>
            <h4 class="follow-us">Follow us<span> <img class="flash-image" src="~/images/footer-design/Line55.svg" alt""/></span></h4>
            <img class="4-image" src="~/images/footer-design/Group1167.svg" alt""/>
        </div>
    </div>
    <div id="footer-design1" > 
        <div class="column">
        <div class="content">
           <h4 class="contact-info">Contact info</h4>
           <h5 class="address">Address:</h5>
           <h5 class="solna-park">Solna Business Park Feni-2500, Stockholm</h5>
           <h5 class="phone">Phone:</h5>
           <h5 class="phone-n"> +08-123456789  </h5>
           <h5 class="phone-n">+08-123456789</h5>
           <h5 class="email">Email:</h5>
           <h5 class="email-1">support@website.com</h5>
           <h5 class="email-2">info@website.com</h5>
        </div>

    </div></div>
    
    <div id="useful">
          <div class="column">
        <div class="content">
           <h4 class="use-ful">Useful links</h4>
           <h5 class="privacy">Privacy Policy</h5>
           <h5 class="terms">Terms & Conditions</h5>
           <h5 class="Contact-Us">Contact Us</h5>
           <h5 class="our-sit"> Our Sitemap</h5>
           <h5 class="lastest">Latest News</h5>
           <h5 class="Returns">Returns</h5>
        </div>
    </div>
    </div>
 <div id="instagram">
           <div class="column">
        <div class="content">
           <h4 class="recent-insta">Recent Instagram</h4>
          <img class="flash-image" src="~/images/footer-design/Group1159.svg" alt""/>


        </div>

    </div>
 </div>


</section>
<section id="black-footer">
    <div class="column">
        <div class"content">
           <h5 class="copy-right">© Copyright 2020 KenKata</h5>
        </div>
    </div>
     <div class="column">
        <div class"content">
          <img class="payment-image" src="~/images/footer-design/Payment-system.svg" alt""/> 

        </div>
    </div>

</section>
