@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="header-section">
    <div id="header-container">
        <div id="header-left">
            <h1>Shopping is</h1>
            <h1 class="green-text">More fun</h1>
            <p>
                Vivamus dignissim a ex eu ornare. Ut fermentum orci <br>
                vel diam ultricies faucibus. Quisque quis erat sed
            </p>
            <button class="green-text">SHOP NOW</button>
        </div>
        <div id="header-right">
            <img src="@Url.Content("~/images/HomeHeader/home-header-ppl.png")" alt="">
            
        </div>
    </div>

</div>