
 <div id="Latest-Blog" class="container">
     <div class="two-color-text">
         <sapn class="latest-blu"> LATEST </sapn>
         <span class="blog-green" > BLOG</span>
     </div>
      <img  src="~/images/karusellslider/Path589.svg"  class="ziqzk-pic" alt="">
      <h5 class="post-about">Read our latest posts about our events and trending news</h5>


 </div>

<div id="Carousel2-section">

    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        
            <div class="carousel-inner">            
                    <div class="carousel-item active ">
                     <img  src="~/images/karusellslider/karusell-pic1.svg"  class="d-block pic1  rounded float-end" alt="">
                     <img  src="~/images/karusellslider/karusell-pic2.svg"  class="d-block pic2   rounded float-start" alt="">                        
                    </div>              
                   <div >
                <div class="carousel-item " >                 
                     <img  src="~/images/karusellslider/karusell-pic1.svg" class="d-block pic3 rounded float-start" alt="">
                     <img  src="~/images/karusellslider/karusell-pic2.svg" class="d-block pic4 rounded float-end" alt="">       
                </div>
                <div class="carousel-item " >                    
                      <img  src="~/images/karusellslider/karusell-pic1.svg" class="d-block pic5 rounded float-start" alt="">
                      <img  src="~/images/karusellslider/karusell-pic2.svg" class="d-block pic6 rounded float-end" alt="">                   
                </div>              
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <div class="rounded-circle circle1  ">
                    <i class="fa-solid mt-3 fa-chevron-left"></i>
                    <span class="visually-hidden">Previous</span>
                </div>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <div class="rounded-circle circle1 ">
                    <i class="fa-solid mt-3 fa-chevron-right"></i>
                    <span class="visually-hidden">Next</span>
                </div>
            </button>
        </div>

    </div>
</div>
<div id="three-punkt-pic">
          <img  src="~/images/karusellslider/Sliderdots.svg"  class="dots-pic" alt="">

</div>