<section id="MY-account-view">
    <div class="banner-flex container" >
        <form class="p-4 col-3" id="log-in-view">
      <h5 class="mb-2"> LOGIN</h5>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn mb-4">LOG IN</button>
  <div class="mb-5 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
    <div class="lost-your" >Lost your password?</div>
  </div>
  <span>
      <img class="" src="~/images/MyAccount/Line-111.svg" alt"" />
      <h4>Or login with</h4>
     <img class="" src="~/images/MyAccount/Line-111.svg" alt"" />  </span>




</form>
      <form class="p-3 col-3">
      <h5 class="mb-3"> Register</h5>
      <div class="mb-3">Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address * </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="mb-3">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</div>
  
  <button type="submit" class="btn btn-primary">REGISTER</button>
</form>

    </div>
</section>
