@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="Navigation-bar">
    <img src="/images/Navbar-Visual/Top-green-header.png">
    <img src="/images/Navbar-Visual/Nav-background.png">
</section>
