@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <nav class="navbar-nav">
        <div class="navbar-header">
            <div class="dropdown">
                    <div class="ENG">
                            <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ENG
                            <img src="/images/arrow-down.png" id="arrow-down">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Swedish</a></li>
                            <li><a class="dropdown-item" href="#">Norwegian</a></li>
                            </ul>
                    </div>

                    <div class="USD">
                        <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            USD
                            <img src="/images/arrow-down.png" id="arrow-down">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">EURO</a></li>
                            <li><a class="dropdown-item" href="#">SEK</a></li>
                            <li><a class="dropdown-item" href="#">NOK</a></li>
                        </ul>
                    </div>

                    <div class="reklam">
                        <a href="" class="text-white">Newsletter</a>
                        <a href="" class="text-white">Contact us</a>
                        <a href="" class="text-white">FAQs</a>

                        <div class="box-group-image">
                            <img src="/images/box-group.png" id="box-group-img">
                        </div>
                    </div>
             </div>                      
        </div>
    </nav>

    <section class="navbar-showcase">
        <div class="kenkata-logo">
            <img src="/images/Ken&kata-logo.png">
        </div>
            <div class="search-function">
                <form class="form-inline">
                    <input class="search-control" type="search" placeholder="Search products..." id="searchfunction" aria-label="Search">
                </form>
            </div>

                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                    <img src="/images/green-arrow-down.png" id="green-arrow-category">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
         
                    <div id="search-scoped">
                        <img src="/images/scoped-item.png">  
                    </div>

                <div class="account-details">
                    <div class="user-icon">
                        <img src="/images/user-icon.png">
                    </div>

                    <div class="my-account">
                        <p>My Account</p> 
                    </div>

                    <div class="heart-icon">
                        <img src="/images/heart-icon.png">
                    </div>

                    <div class="compare-icon">
                        <img src="/images/compare-icon.png">
                    </div>

                    <div class="bag-icon">
                        <img src="/images/bag-icon.png">
                    </div>

                    <div class="money-icon">
                        <img src="/images/$0.00.png">
                    </div>   
                </div>                          
    </section>
    <div class="border-bottom"></div>  

    <section class="nav-footer">

        <div class="nav-footer-options">
        
            <div class="browse-categories-dropdown">
                <a class="nav-link" href="#" role="button" id="dropdownbrowse-categories" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/hamburger-menu.png" id="hamburger-icon">
                Browse Categories
                <img src="/images/arrow-down.png" id="arrow-down">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Men</a></li>
                <li><a class="dropdown-item" href="#">Woman</a></li>
                <li><a class="dropdown-item" href="#">Unisex</a></li>
                </ul>
            </div>

            <div id="home-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="home-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Home
                    </a>
                    <img src="/images/green-underlay-thing.png" id="green-underlay-thing">

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>

            <div class="shop-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="shop-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                    <img src="/images/green-arrow-down.png" id="green-arrow-down">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>

            <div class="products-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="products-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                    <img src="/images/green-arrow-down.png" id="green-arrow-down">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>

            <div class="categories-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="categories-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                    <img src="/images/green-arrow-down.png" id="green-arrow-down">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>

            <div class="pages-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="pages-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Pages
                    <img src="/images/green-arrow-down.png" id="green-arrow-down">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>

            <div class="blog-options">
                <div class="dropdown">
                    <a class="nav-link" href="#" role="button" id="blog-option" data-bs-toggle="dropdown" aria-expanded="false">
                    Blog
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Woman</a></li>
                    <li><a class="dropdown-item" href="#">Unisex</a></li>
                    </ul>
                </div>
            </div>
                    <div id="navbar-footer-button">
                        <img src="/images/special-offer-button.png" id="navbar-footer-btn">
                    </div>
        </div>
    </section>