@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="product-section">
    <img src="/images/NewArrivals/New-arrivals-img.png" class="header-img">
    <div class="product-container">

        <div class="product-card">
                
            @*Pilarna*@
            <img src="/images/NewArrivals/Arrival-prev-button.png" alt="" class="pre-btn">
            <img src="/images/NewArrivals/Arrival-next-button.png" alt="" class="nxt-btn">

            <div class="all-products">
                <div class="product-image1">
                    <img src="/images/NewArrivals/Men-Arrival.png" class="product-thumb"
                         alt="">
                </div>

                <div class="product-image2">
                    <img src="/images/NewArrivals/Second-slide-blue.png" class="product-thumb"
                         alt="">
                </div>

                <div class="product-image3">
                    <img src="/images/NewArrivals/women-arrival.png" class="product-thumb"
                         alt="">
                </div>
            </div>
            <img src="/images/NewArrivals/three-dots.png" class="three-dots">

        </div>
    </div>
</section>