<section id="reklam-grid">
    <div  id="box-1" class="col-2">
        <div class="column">
            <div class="content">    
                     <img class="box1-image" src="~/images/reklam-grid/box1.svg" alt""/>
                  <h5 class="free-ship">Free Shipping</h5>
                  <h5 class="for-local">For a local customer, we provide free shipping facility</h5>
            </div>
        </div>
    </div>
    
            <div  id="box-2" class="col-2">
        <div class="column">
            <div class="content">    
                     <img class="box2-image" src="~/images/reklam-grid/24icon.svg" alt""/>
                  <h5 class="support-24">24/7 support</h5>
                  <h5 class="for-any">For any inquiry, we are available 24 hours every day</h5>
            </div>
        </div>
    </div>
      <div  id="box-3" class="col-2">
        <div class="column">
            <div class="content">    
                     <img class="box3-image" src="~/images/reklam-grid/Path36.svg" alt""/>
                  <h5 class="online-pay">Online payment</h5>
                  <h5 class="you-can">You can pay quickly and easily with our online payment system</h5>
            </div>
        </div>
    </div>
        <div  id="box-4" class="col-2">
        <div class="column">
            <div class="content">    
                     <img class="box4-image" src="~/images/reklam-grid/Outline.svg" alt""/>
                  <h5 class="fast-del">Fast delivery</h5>
                  <h5 class="we-under">We understand your urgency and we deliver in a fast way</h5>
            </div>
        </div>
    </div>
    
  

</section>
