    <!-- Carousel Section -->

<div id="reviewCarousel-section">

    <div class="container">

        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">

                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>

                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-item-container">
                        <img src="/images/ReviewCarousel/Review-Quote.png" class="d-block review-quote" alt="Review-Quote">
                        <img src="/images/ReviewCarousel/review-placeholder.png" class="d-block" alt="Review-placeholder">
                        <img src="/images/ReviewCarousel/review-stars.png" class="d-block review-stars" alt="Review-stars">
                        <div class="carousel-item-text">
                            <h4 class="green-text">JOHNY WESMULLAR</h4>
                            <small>CEO, Biotech Inc.</small>
                            <div class="carousel-ptext">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="carousel-item-container">
                        <img src="/images/ReviewCarousel/Review-Quote.png" class="d-block review-quote" alt="Review-Quote">
                        <img src="/images/ReviewCarousel/review-placeholder.png" class="d-block" alt="Review-placeholder">
                        <img src="/images/ReviewCarousel/review-stars.png" class="d-block review-stars" alt="Review-stars">
                        <div class="carousel-item-text">
                            <h4 class="green-text">JOHNY WESMULLAR</h4>
                            <small>CEO, Biotech Inc.</small>
                            <div class="carousel-ptext">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-item-container">
                        <img src="/images/ReviewCarousel/Review-Quote.png" class="d-block review-quote" alt="Review-Quote">
                        <img src="/images/ReviewCarousel/review-placeholder.png" class="d-block" alt="Review-placeholder">
                        <img src="/images/ReviewCarousel/review-stars.png" class="d-block review-stars" alt="Review-stars">
                        <div class="carousel-item-text">
                            <h4 class="green-text">JOHNY WESMULLAR</h4>
                            <small>CEO, Biotech Inc.</small>
                            <div class="carousel-ptext">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <div class="white-circle">
                    <i class="fa-solid fa-chevron-left"></i>
                    <span class="visually-hidden">Previous</span>
                </div>
            </button>


            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <div class="white-circle">
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="visually-hidden">Next</span>
                </div>
            </button>

        </div>

    </div>
</div>