
<div id="subscribe-section">
    <div id="subscribe-container">

        <div id="subscribe-left">
            <h1>
                SUBSCRIBE <span class="green-text">NOW</span>
            </h1>
                <p>
                    Signup for awesome news about our new products and <br>
                    know our special discounts on products.
                </p>
                <form action="submit">
                    <input type="text" name="" id="subscribe-input" placeholder="Enter email address">
                    <button class="green-btn">Subscribe</button>
                </form>
        </div>

        <div id="subscribe-right">
            <img src="images/Subscribe-Now/subscribe-placeholder.png" alt="">
        </div>
    </div>
</div>