@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <div id="top-seller">
        <div class="top-item">
            <img src="/images/Topsellers/TOP SELLERS.png" class="title-name">
            <img src="/images/Topsellers/Path 588.png" class="title-wave">
            <p class="description">Check out our weekly top sellers in all category</p>
        </div>

                <div class="grid-section">
                    <div class="grid">
                        <img src="/images/Topsellers/men-grid.png">
                    </div>

                    <div class="grid-compare">
                        <div class="women">
                        <img src="/images/Topsellers/women-grid.png">
                    </div>

                    <div class="darkblue">
                        <img src="/images/Topsellers/darkblue-showcase.png">
                    </div>                 
                </div>           
        </div>
    </div>
